{% extends "news/layout.html" %}

{% block title %} About Us {% endblock %}

{% block body %}

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis blog-header-logo">Who am I?</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">A software engineering graduate focused on providing best technical solutions to the world.</p>
            <div class="my-5">
                <ul class="list-unstyled d-flex justify-content-center h-100 gap-5">
                    <li class="ms-3">
                        <a class="link-underline link-underline-opacity-0 d-flex flex-column" href="https://youtube.com/@srkydev5727?si=DXxxpW-AAnEOUCOr">
                            <i class="fa fa-3x fa-youtube-play"></i>Youtube
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-underline link-underline-opacity-0 d-flex flex-column" href="https://www.linkedin.com/in/shahrukh-khan-2b8968242/">
                            <i class="fa fa-3x fa-linkedin"></i>LinkedIn
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-underline link-underline-opacity-0 d-flex flex-column" href="https://github.com/srky420/">
                            <i class="fa fa-3x fa-github"></i>Github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}