{% extends "news/layout.html" %}

{% block title %} FAQs {% endblock %}

{% block body %}

    <!-- FAQs accordion -->
    <div class="accordion my-5 rounded-0" id="faqsAccordion">
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="false" aria-controls="accordionOne">
                    <h3 class="m-0">What is this app?</h3>
                </button>
            </h2>
            <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#faqsAccordion">
                <div class="accordion-body py-4">
                    This is a News aggregator app which uses an API to fetch news from different sources and displays them in a unified way for users.
                </div>
            </div>
        </div>
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                    <h3 class="m-0">Why should I sign up?</h3>
                </button>
            </h2>
            <div id="accordionTwo" class="accordion-collapse collapse" data-bs-parent="#faqsAccordion">
                <div class="accordion-body py-4">
                    Signing up allows you to subscribe to News sources and lets you access Discover page where you can read all the news from your subscribed sources.
                </div>
            </div>
        </div>
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                    <h3 class="m-0">How can I edit my profile?</h3>
                </button>
            </h2>
            <div id="accordionThree" class="accordion-collapse collapse" data-bs-parent="#faqsAccordion">
                <div class="accordion-body py-4">
                    You must be subscribed to edit your profile. In the top right corner there is a round button, which by default shows placeholder profile picture, that can be clicked to see dropdown menu for going to profile page.
                </div>
            </div>
        </div>
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                    <h3 class="m-0">How can I subscribe to News sources?</h3>
                </button>
            </h2>
            <div id="accordionFour" class="accordion-collapse collapse" data-bs-parent="#faqsAccordion">
                <div class="accordion-body py-4">
                    You can subscribe to News sources by first signing up and then navigating to Sources tab or any other news tab where you will come across a list of sources and a subscribe(plus) button for each Source.
                </div>
            </div>
        </div>
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                    <h3 class="m-0">How can I unsubscribe from News sources?</h3>
                </button>
            </h2>
            <div id="accordionFive" class="accordion-collapse collapse" data-bs-parent="#faqsAccordion">
                <div class="accordion-body py-4">
                    You can unsubscribe from News sources by navigating to Sources tab or any other news tab where you will see sources, which you have subscribed to, with a minus sign which you can click to unsubscribe to that source.
                </div>
            </div>
        </div>
    </div>

{% endblock %}