<div class="mt-auto bg-body-tertiary border-top">
    <div class="container">
        <footer class="footer pt-5">
            <div class="row justify-content-lg-between">
    
                <div class="col-3 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'news:index' %}" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'news:search' %}" class="nav-link p-0 text-body-secondary">Search</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'accounts:index' %}" class="nav-link p-0 text-body-secondary">Account</a></li>
                    </ul>
                </div>

                <div class="col-4 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'news:faqs' %}" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'news:privacy-policy' %}" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'news:about' %}" class="nav-link p-0 text-body-secondary">About Us</a></li>
                    </ul>
                </div>

                <div class="col-5 mb-3">
                    <ul class="list-unstyled d-flex justify-content-lg-end justify-content-md-end justify-content-sm-start align-items-center h-100">
                        <li class="ms-3"><a class="link-body-emphasis" href="https://youtube.com/@srkydev5727?si=DXxxpW-AAnEOUCOr"><i class="fa fa-2x fa-youtube-play"></i></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="https://www.linkedin.com/in/shahrukh-khan-2b8968242/"><i class="fa fa-2x fa-linkedin"></i></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="https://github.com/srky420/"><i class="fa fa-2x fa-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="py-4 border-top">
                <p>News © 2023 Company, Inc. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>