{% extends "news/layout.html" %}

{% block title %} Index {% endblock %}

{% block body %}

    {% include "news/tab-content.html" %} 

    <!-- <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="p-5 mb-4 rounded text-body-emphasis position-relative" style="min-height: 400px">
                <img src="https://s.yimg.com/uu/api/res/1.2/4YedFAV6nV2xwWHkiNRmIw--~B/Zmk9ZmlsbDtoPTYzMDtweW9mZj0wO3c9MTIwMDthcHBpZD15dGFjaHlvbg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2023-08/1d5133e0-321f-11ee-abdd-17709597ceec.cf.jpg"
                    alt="" class="position-absolute top-0 start-0 object-fit-cover w-100 h-100" style="z-index: -1000;">
                <div class="shadow-over position-absolute w-100 h-100 bg-dark bg-opacity-50 top-0 start-0" style="z-index: -1000;"></div>
                <div class="text-light z-3">
                    <h1 class="">Title of a longer featured blog post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, recusandae.</h1>
                    <p class="my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <a href="#" class="link-light link-underline link-underline-opacity-0 link-underline-opacity-100-hover">Continue reading...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="p-5 mb-4 rounded text-body-emphasis position-relative" style="min-height: 400px">
                <img src="https://s.yimg.com/uu/api/res/1.2/4YedFAV6nV2xwWHkiNRmIw--~B/Zmk9ZmlsbDtoPTYzMDtweW9mZj0wO3c9MTIwMDthcHBpZD15dGFjaHlvbg--/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2023-08/1d5133e0-321f-11ee-abdd-17709597ceec.cf.jpg"
                    alt="" class="position-absolute top-0 start-0 object-fit-cover w-100 h-100" style="z-index: -1000;">
                <div class="shadow-over position-absolute w-100 h-100 bg-dark bg-opacity-50 top-0 start-0" style="z-index: -1000;"></div>
                <div class="text-light z-3">
                    <h1 class="">Title of a longer featured blog post Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, recusandae.</h1>
                    <p class="my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <a href="#" class="link-light link-underline link-underline-opacity-0 link-underline-opacity-100-hover">Continue reading...</a>
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}
