<div class="container container-lg">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-body-emphasis" href="{% url 'news:search' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" href="{% url 'news:index' %}">News</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn bg-transparent border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ request.user.profile_pic.url }}" class="profile-pic profile-pic-md" alt="profile-pic">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li class="text-center border-bottom p-2 pb-3 mb-2"><strong>{{ request.user.username }}</strong></li>
                                <li><a class="dropdown-item p-2" href="{% url 'accounts:profile' %}">Profile</a></li>
                                <li><a class="dropdown-item p-2" href="{% url 'accounts:logout' %}">Log out</a></li>
                            </ul>
                        </div>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-dark" href="{% url 'accounts:index' %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1">
        <nav class="nav nav-underline justify-content-between">
            <button class="tab-btn nav-item nav-link link-body-emphasis active" id="world-tab" data-tab-name="world" data-bs-toggle="tab" data-bs-target="#world-tab-pane" type="button" role="tab" aria-controls="world-tab-pane" aria-selected="true">World</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="business-tab" data-tab-name="business" data-bs-toggle="tab" data-bs-target="#business-tab-pane" type="button" role="tab" aria-controls="business-tab-pane" aria-selected="false">Business</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="entertainment-tab" data-tab-name="entertainment" data-bs-toggle="tab" data-bs-target="#entertainment-tab-pane" type="button" role="tab" aria-controls="entertainment-tab-pane" aria-selected="false">Entertainment</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="general-tab" data-tab-name="general" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="false">General</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="health-tab" data-tab-name="health" data-bs-toggle="tab" data-bs-target="#health-tab-pane" type="button" role="tab" aria-controls="health-tab-pane" aria-selected="false">Health</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="science-tab" data-tab-name="science" data-bs-toggle="tab" data-bs-target="#science-tab-pane" type="button" role="tab" aria-controls="science-tab-pane" aria-selected="false">Science</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="sports-tab" data-tab-name="sports" data-bs-toggle="tab" data-bs-target="#sports-tab-pane" type="button" role="tab" aria-controls="sports-tab-pane" aria-selected="false">Sports</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="technology-tab" data-tab-name="technology" data-bs-toggle="tab" data-bs-target="#technology-tab-pane" type="button" role="tab" aria-controls="technology-tab-pane" aria-selected="false">Technology</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="discover-tab" data-tab-name="discover" data-bs-toggle="tab" data-bs-target="#discover-tab-pane" type="button" role="tab" aria-controls="discover-tab-pane" aria-selected="false">Discover</button>
            <button class="tab-btn nav-item nav-link link-body-emphasis" id="sources-tab" data-tab-name="sources" data-bs-toggle="tab" data-bs-target="#sources-tab-pane" type="button" role="tab" aria-controls="sources-tab-pane" aria-selected="false">Sources</button>
        </nav>
    </div>
</div>
<hr class="m-0">