<div class="container-lg">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none h1" href="#">News</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-dark" href="#">Sign up</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1">
        <nav class="nav nav-underline justify-content-between">
            <button class="category-btn nav-item nav-link link-body-emphasis active" id="world-tab" data-category="world" data-bs-toggle="tab" data-bs-target="#world-tab-pane" type="button" role="tab" aria-controls="world-tab-pane" aria-selected="true">World</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="business-tab" data-category="business" data-bs-toggle="tab" data-bs-target="#business-tab-pane" type="button" role="tab" aria-controls="business-tab-pane" aria-selected="false">Business</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="entertainment-tab" data-category="entertainment" data-bs-toggle="tab" data-bs-target="#entertainment-tab-pane" type="button" role="tab" aria-controls="entertainment-tab-pane" aria-selected="false">Entertainment</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="general-tab" data-category="general" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="false">General</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="health-tab" data-category="health" data-bs-toggle="tab" data-bs-target="#health-tab-pane" type="button" role="tab" aria-controls="health-tab-pane" aria-selected="false">Health</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="science-tab" data-category="science" data-bs-toggle="tab" data-bs-target="#science-tab-pane" type="button" role="tab" aria-controls="science-tab-pane" aria-selected="false">Science</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="sports-tab" data-category="sports" data-bs-toggle="tab" data-bs-target="#sports-tab-pane" type="button" role="tab" aria-controls="sports-tab-pane" aria-selected="false">Sports</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="technology-tab" data-category="technology" data-bs-toggle="tab" data-bs-target="#technology-tab-pane" type="button" role="tab" aria-controls="technology-tab-pane" aria-selected="false">Technology</button>
            <button class="category-btn nav-item nav-link link-body-emphasis" id="discover-tab" data-category="discover" data-bs-toggle="tab" data-bs-target="#discover-tab-pane" type="button" role="tab" aria-controls="discover-tab-pane" aria-selected="false">Discover</button>
        </nav>
    </div>
</div>
<hr class="m-0">