{% extends "news/layout.html" %}

{% block title %} About Us {% endblock %}

{% block body %}

    <div class="my-5">
        <h2 class="text-center mb-3">Privacy Policy for News</h2>
        <p>
            At News, accessible from https://srky420.pythonanywhere.com/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by News and how we use it.

            If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.

            This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in News. This policy is not applicable to any information collected offline or via channels other than this website.
        </p>

        <h3>Consent</h3>
        <p>
            By using our website, you hereby consent to our Privacy Policy and agree to its terms.
        </p>

        <h3>Information we collect</h3>
        <p>
            The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.

            If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.

            When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
        </p>
        <h3>How we use your information</h3>
        <p>
            We use the information we collect in various ways, including to:
            <ul>
                <li>Provide, operate, and maintain our website</li>
                <li>Improve, personalize, and expand our website</li>
                <li>Understand and analyze how you use our website</li>
                <li>Develop new products, services, features, and functionality</li>
                <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
                <li>Send you emails</li>
                <li>Find and prevent fraud</li>
                <li>Log Files</li>
            </ul>
            News follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
        </p>

        <h3>Cookies</h3>
        <p>
            Like any other website, News uses "cookies". These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
        </p>

        <h3>Changes to This Privacy Policy</h3>
        <p>
            We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
        </p>

        <h3>Contact Us</h3>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
    </div>

{% endblock %}