<!-- Filters -->
<div id="sources-filter">
    <div class="input-group mt-3">
        <button class="btn btn-primary rounded-1 rounded-end-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter
        </button>
        <input type="text" id="sources-search" class="form-control rounded-1 rounded-start-0" placeholder="Search sources...">
    </div>
    <div class="collapse border my-3" id="collapseExample">
        <strong class="m-2">By Category:</strong>
        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-business" autocomplete="off" value="business">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-business">Business</label>

        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-entertainment" autocomplete="off" value="entertainment">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-entertainment">Entertainment</label>

        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-general" autocomplete="off" value="general">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-general">General</label>

        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-health" autocomplete="off" value="health">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-health">Health</label>

        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-science" autocomplete="off" value="science">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-science">Science</label>

        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-sports" autocomplete="off" value="sports">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-sports">Sports</label>

        <input type="checkbox" class="btn-check sources-category-checkbox" onchange="load_sources()" id="btn-filter-technology" autocomplete="off" value="technology">
        <label class="btn btn-primary btn-sm m-2 rounded-1" for="btn-filter-technology">Technology</label>
    </div>
</div>

<!-- Sources -->
<div class="my-3" id="sources-div">

</div>


