{% load crispy_forms_tags %}

<div class="form-signin w-100 mx-auto border shadow auth-form fade visually-hidden" id="forgot-pass">
    <form action="{% url 'accounts:forgot-pass' %}" method="post">
        <h3 class="mb-3 text-center">Find your account</h3>

        <!-- Messages -->
        {% if view == "forgot-pass" %}{% include "accounts/messages.html" %}{% endif %}

        {% csrf_token %}
        {% crispy forgot_form %}
        <p class="text-center my-2"><a class="link-underline" href="#" onclick="switch_view('login')">Go back</a></p>
    </form>
</div>