{% load crispy_forms_tags %}

<div class="form-signin w-100 mx-auto border shadow auth-form fade visually-hidden" id="login">
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <h3 class="mb-3 text-center">Please sign in</h3>

        <!-- Messages -->
        {% if view == "login" %}{% include "accounts/messages.html" %}{% endif %}

        {% crispy login_form %}
        <p class="text-end my-2"><a class="link-underline" href="#" onclick="switch_view('forgot-pass')">Forgot Password?</a></p>
        <p class="text-center my-2">Don't have an account? <a class="link-underline" href="#" onclick="switch_view('register')">Sign up</a></p>
        <hr>
        <p class="text-center my-2">Didn't receive verification email? <a class="link-underline" href="#" onclick="switch_view('verification')">Resend</a></p>
    </form>
</div>