{% extends "news/layout.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Search {% endblock %}

{% block body %}

    <!-- Header -->
    <header class="lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-body-emphasis" href="{% url 'news:index' %}" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" href="{% url 'news:index' %}">News</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn bg-transparent border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ request.user.profile_pic.url }}" class="profile-pic profile-pic-md" alt="profile-pic">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item mb-2 px-2" href="{% url 'accounts:profile' %}">Profile</a></li>
                                <li><a class="dropdown-item px-2" href="{% url 'accounts:logout' %}">Log out</a></li>
                            </ul>
                        </div>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-dark" href="{% url 'accounts:index' %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </header>

    <hr class="position-absolute w-100 start-0 m-0">

    <!-- Profile info -->
    <div class="my-5 text-center">
        <div class="d-flex justify-content-center w-100 ms-auto">
            {% include "accounts/profile-pic.html" %}
        </div>
        <div class="my-3">
            <h5>{{ request.user.username }}</h5>
            <p>{{ request.user.email }}</p>
            <p><small class="text-body-secondary">Date Joined: {{ request.user.date_joined }}</small></p>
        </div>
    </div>

    <!-- Profile accordion -->
    <div class="accordion my-5 rounded-0" id="accordionFlushExample">
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0 {% if not show_form %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h3 class="m-0">Change Password</h3>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse {% if show_form %}show{% endif %}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% include "accounts/messages.html" %}
                    {% crispy form %}
                </div>
            </div>
        </div>
        <div class="accordion-item border-2 rounded-0">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <h3 class="m-0">Subscriptions</h3>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <div class="row mb-5 mx-0 overflow-auto">
                    {% for source in subscriptions %}

                        <div class="col-lg-4 col-md-6 col-sm-12 py-3" id="{{ source.source_id }}">
                            <div class="px-3 d-flex flex-column h-100 position-relative">
                                <strong class="d-inline-block mb-2 text-primary-emphasis">{{ source.source_category }}</strong>
                                <a href="#" class="mb-0 link-underline link-underline-opacity-0" onclick=""><h4>{{ source.source_name }}</h4></a>
                                <p class="my-2 text-wrap overflow-hidden">{{ source.source_description }}</p>
                                <button onclick="source_unsubscribe(this)" data-source-id="{{ source.source_id }}"
                                    class="btn btn-sm btn-dark position-absolute top-0 end-0 m-2">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>

                    {% empty %}
                        <h2 class="h-100 text-center my-5">No subscriptions yet</h2>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'accounts/unsubscribe.js' %}"></script>
{% endblock %}
