{% load crispy_forms_tags %}

<div class="form-signin w-100 mx-auto border shadow auth-form fade visually-hidden" id="register">
    <form action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        <h3 class="mb-3 text-center">Please sign up</h3>

        <!-- Messages -->
        {% if view == "register" %}{% include "accounts/messages.html" %}{% endif %}

        {% crispy register_form %}
        <p class="text-center my-2">Already have an account? <a class="link-underline" href="#" onclick="switch_view('login')">Sign in</a></p>
    </form>
</div>