.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-weight: bold;
    font-size: 3rem !important;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-weight: bold;
}

.article-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article-img-container {
    overflow: hidden;
}

.side-articles {
    height: 400px;
}

.side-articles-img {
    width: 120px;
    height: 120px;
}

.placeholder-banner {
    height: 500px;
}

.placeholder-card {
    height: 300px;
}

.sources {
    height: 400px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #000000;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #2c2c2c;
    --bs-btn-hover-border-color: #5a5a5a;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #2b2b2b;
    --bs-btn-active-border-color: #5a5a5a;
}

.bd-mode-toggle {
    z-index: 1500;
}

@media screen and (max-width: 1200px) {
    
    h4, h5, h6 {
        font-size: medium !important;
    }

    h1, h2, h3 {
        font-size: 20px !important;
    }

    p {
        font-size: small !important;
    }

    a {
        font-size: small !important;
    }
}

@media screen and (max-width: 990px) {

    .blog-header-logo {
        font-size: 2.5rem !important;
    }

    .article-img {
        width: 100%;
    }

    .carousel-img {
        height: 300px;
    }

    .placeholder-banner {
        height: 300px;
    }

    .placeholder-card {
        height: 200px;
    }

    .side-articles {
        height: auto;
    }

    .side-articles-img {
        width: 100%;
    }

    .side-articles-list {
        height: 150px;
    }

    .sources {
        height: 300px;
    }
}

@media (max-width: 768px) {

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .article-img {
        height: 200px;
    }

}

